@using Bookanizer.Shared.DTO

<div class="row" style="max-width: 100vw">
    <div class="col-2">
        @if (Book.ImageLink == null)
        {
            <div class="no-cover">
                <p>No cover Image available</p>
            </div>
        }
        else
        {
            <img src="@Book.ImageLink" class="book-cover"/>
        }
    </div>
    <div class="col me-0 pe-5">
        <p><b>@Book.Title</b></p>
        @if (ChildContent != null)
        {
            <span class="float-end">
                @ChildContent
            </span>
        }
        @if (Book.Author != null)
        {
            <p>By: <a href="author/@Book.Author.Id">@(Book.Author.Alias ?? Book.Author.Name)</a></p>
        }
        @if (Book.Genres != null)
        {
            <div class="genre-container">
                @foreach (var genre in Book.Genres)
                {
                    <span @onclick="() => GoToGenre(genre.Id)" class="genre-pill">@genre.Name</span>
                }
            </div>
        }
        @if (Book.Tags != null)
        {
            <div class="tag-container">
                @foreach (var tag in Book.Tags)
                {
                    <span @onclick="() => GoToTag(tag.Id)" class="tag-pill">@tag.Name</span>
                }
            </div>
        }
        <div class="book-description">
            @Book.Description
        </div>
    </div>
</div>

@code {
    [Parameter] public BookDTO Book { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    private void GoToGenre(Guid id)
    {
        NavigationManager.NavigateTo($"/Genre/{id}");
    }
    private void GoToTag(Guid id)
    {
        NavigationManager.NavigateTo($"/Tag/{id}");
    }
}